/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; padding: 20px}
.text-underline{text-decoration: underline;}
.text-center{text-align: center;}
.cursor{cursor: pointer}
.empty-table-record{padding:20px;text-align: center;}
